@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.container{
    width: 570px;
    height: 405px;
    margin-top: 150px;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
}

.header{
    display: flex;
    justify-content: space-between;
    width: 570px;
}

.pay{
    font-size: 14px;
    color: #4692cc;
    padding: 0;
}

.nav a{
    font-size: 11px;
    display: flex;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
}

.bank, .cash{
    margin-left: 5px;
    color: #8b8b8b;
}

.factura{
    font-family: bald;
    color: #000;
}

.cash{
    margin-right: 0px;
}

.line{
  width: 89px;  
  height: 4px;
  background-color: #4692cc;
  margin-left: 243px;
}

hr{
    width: 570px;
    margin-top: 0px;
}

.name{
    margin-top: 50px;
}

#fname, #number {
    width: 270px;
    height: 30px;
    margin-bottom: 30px;
    margin-right: 25px;
    border: 1px solid;
    border-radius: 3px;
  }
#lname, #email{
    width: 270px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
}

#company{
    width: 570px;
    height: 30px;
    margin-bottom: 30px;
    border: 1px solid;
    border-radius: 3px;
}

#adress{
    width: 570px;
    height: 30px;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 3px;
}

.input-form{
    font-size: 14px;
}

.cond{
    margin-left: 130px;
}

.order{
    height: 46px;
    width: 570px;
    margin-top: 28px;
    background-color: #ffcd35;
    /* text-align: center;
    padding-top: 12px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif; */
}

.order a{
    display: block;
    text-align: center;
    height: 100%;
    padding-top: 12px;
    font-size: 16px;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: #485c72;
}

#page2, #page3 {
    display: none;  
  }
  
  /* #page2:target, #page3:target {
    display: block;
  } */